{% load static %}
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/css/wheat.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

   
</head>

<body>
    <div class="back-body">
        <div class="header" style="background-image: url('{% static 'img/crop3.jpg' %}');">
            <h1><img src="{% static 'img/Farmbzz.png' %}" width="10%"> <b>Farmbzz-A Farmer Friendly Web App</b>
            </h1>
        </div>


        <nav class="navbar navbar-inverse" style="margin-top:-10px;">

            <div class="container-fluid">
                <div class="navbar-header">
                    <a style="font-size:25px;" class="navbar-brand" href="http://127.0.0.1:8000/">Home</a>
                </div>
                <ul class="nav navbar-nav">

                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Disease Book <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a  href="{% url 'wheat' %}">Wheat</a></li>
                            <li><a href="{% url 'rice' %}">Rice</a></li>
                            <li><a href="{% url 'sugarcane' %}">Sugarcane</a></li>
                            <li><a href="{% url 'cotton' %}">Cotton</a></li>
                            <li><a href="{% url 'groundnut' %}">Groundnut</a></li>
                            <li><a href="{% url 'potato' %}">Potato</a></li>
                        </ul>




                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Insect Book <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'mango' %}">Mango</a></li>
                        <li><a href="{% url 'irice' %}">Rice</a></li>
                        <li><a href="{% url 'isugarcane' %}">Sugarcane</a></li>
                        <li><a href="{% url 'icotton' %}">Cotton</a></li>
                        <li><a href="{% url 'tomato' %}">Tomato</a></li>
                        <li><a href="{% url 'ipotato' %}">Potato</a></li>
                    </ul>



                    </li>
                    <li><a href="{% url 'weather' %}">Weather</a></li>
                    <li><a href="http://127.0.0.1:8000/mailer">E-Shikayat</a></li>
                    <li><a href="http://127.0.0.1:8000/mailer">Soil Testing</a></li>
                    <li><a href="{% url 'auto' %}">Auto Diagnosis</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Guide</a></li>
                    <li><a href="{% url 'login' %}">Log In</a></li>
                </ul>
            </div>

        </nav>


        




       
       
        <div class="container" style=" width: 100%; padding: 20px; margin-top: -20px;">
            <h1 style="margin-top:0px">Rice</h1>
            <div class="w3-content w3-section">
                <img class="mySlides" src="{% static 'img/r1.jpeg' %}">
                <img class="mySlides" src="{% static 'img/r2.jpeg' %}">
                <img class="mySlides" src="{% static 'img/r3.jpeg' %}">
                <img class="mySlides" src="{% static 'img/r4.jpeg' %}">
            </div>
        <!--<div class="mnb">-->
            <p class="asx"> Rice is the seed of the grass species Oryza sativa(Asian rice) or Oryza glaberrima(African rice).
                It is a cereal grain belongs to the grass family of Graminae and native to the deltas of the great Asian rivers,
                 the Ganges, the Chang (Yangtze), and the Tigris and Euphrates. The rice plant grows from 2 to 6 ft tall, with a
                  round, jointed stem, long pointed leaves and edible seeds borne in dense head on separate stalks. Rice is one 
                  of the most cultivated grain crops in India as well as in Asian countries and a staple diet of major part of 
                  India. India is an important centre for rice cultivation and consumption. India stands in second position after
                  China in the production of rice.Major rice producing states are Haryana ,Tamil Nadu ,West Bengal ,Uttar Pradesh 
                  ,Andhra Pradesh . Methods of growing rice differ greatly in different regions, but in most Asian countries 
                  including India, the traditional hand methods of cultivating and harvesting rice are still practiced. Modern 
                  farming of rice started in most of the countries which drastically reduced the labour problems and cost of cultivation.
                   There are machines available from planting to harvesting the rice crop. Some parts of Indian rural areas still depend 
                   on the wet buffalos for land preparation and manpower in plantation and harvesting. People often confuses with paddy 
                   and rice. Rice when it is still covered by the brown hull is known as paddy. Rice fields are also called paddy fields or rice paddies.
                     
                
                
            </p>
        </div>
        
        <br /> 
   

        <div class="container" style=" width: 100%; padding: 20px; ">
                <!--<div class="mnv"></div>-->
                <div class="row">
                        <div class="col-lg-6">
                            <div class="thumbnail" style="border-color:transparent">
                            <img src="{% static 'img/ricegraph.png' %}" alt="">
                        </div>
                    </div>
                        <div class="col-lg-6"> 
                            <div class="thumbnail">
                            <p class="asx">dsjkfkjshfkjskdfsdjkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk</p>
                        </div>
                    </div>
                    </div>
                 </div>
    

        <script>
            var myIndex = 0;
            carousel();

            function carousel() {
                var i;
                var x = document.getElementsByClassName("mySlides");
                for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                }
                myIndex++;
                if (myIndex > x.length) {
                    myIndex = 1
                }
                x[myIndex - 1].style.display = "block";
                setTimeout(carousel, 2000); // Change image every 2 seconds
            }
        </script>
        <div>
            <h1>Common Insects of Potato:</h1>
        </div>
        <br>
        <br>
        



        <div id="hover3" class="html-hidden">

            <h2><img class="normal-content" src="{% static 'img/i.png' %}" width="3%">Miner Flies</h2>
            <div class="container"  style="width: 70%; ">
                <img src="{% static 'img/leaf-miner.jpg' %}" style="width: 27%;">
                <img src="{% static 'img/leafminor1.jpeg' %}" style="width: 30%;">
                <img src="{% static 'img/leafminor2.jpg' %}" style="width: 35%;">
            </div>
            <p>
                <h3><b>Description:</b></h3><p class="text">
                     Rice sheath blight is one of the most </p>
                <h3 ><b>Symptoms:</b></h3>
                <p class="text">
                        Irregular or serpentine pale grey lines appear on both sides of the leaf blades as the larvae feed. These burrows are usually limited by the leaf veins and contain black fecal material visible as slim trace inside the tunnels. Entire leaves may be covered with mines. Damaged leaves may drop prematurely (defoliation). Defoliation can reduce yield and fruit size and expose fruit to sunburn.
                    </p>
                    <h3> <b>Triger:</b></h3><p class="text">
                            Symptoms are cause by several flies belonging to the family of the Agromyzidae, with several thousand species worldwide. In spring, females puncture leaf tissues and lay their eggs, usually along the margins. The larvae feed between the upper and the lower leaf surface. They produce large white meandering tunnels with a trail of black fecal material (frass) left behind as they feed. Once they have reached maturity, larvae open a hole on teh underside of the leaf and fall to the ground, where they pupate. Plant debris near the host are alternative pupating places. Leafminer flies are attracted to the color yellow. </p>
                    <h3><b> Chemical method:</b></h3>
                <p class="text">Always consider an integrated approach with preventive measures together with biological treatments if available. Broad-spectrum insecticides of the organophosphates, carbamates and pyrethroids families prevent adults from laying eggs, but they do not kill the larvae. Moreover, they can lead to the decrease of natural enemies and the development of resistance in the fly, which in some cases can actually result in an increase in their numbers. Products such as abamectin, bifenthrin, methoxyfenozide, chlorantraniliprole or spinetoram can be used in a rotation to avoid development of resistance. 
                        </p>
                <h3><b>Biological method:</b></h3>
                <p class="text">Minor infestation just leads to cosmetic damage and does not affect productivity. Parasitic wasps that kill leaf-miner larvae in the mine are commercially available. Ladybirds are also predators of the leaf miner fly. Neem oil, Neem Seed Kernal Extract (NSKE 5%), Neem oil (15000 ppm) @ 5ml/l or Spinosad deter adults from feeding and reduce egg laying, thus limiting damage. These products have a low impact on natural enemies and pollinators. 
                        </p>
                      <h3><b>Prevention:</b></h3>
                      <p class="text">
                            Plant seedlings free of eggs of leafminer flies. Choose varieties with curled leaves that are less susceptible to the pest. Avoid planting alternative hosts next to infested fields. Monitor fields for signs of the insect on leaves. Use yellow sticky traps or yellow basins filled with water to catch the flies. Handpick and destroy mined leaves or heavily-infested plants. Plant hedge rows of flowering plants to prevent migration of the fly. Remove weeds and volunteer plants in and around the fields. Apply mulch around plants to prevent the flies from breeding in the soil. Do not use broad-spectrum insecticide that could affect natural enemies. Plow deep to expose the miners to natural enemies. Alternatively, burn infected plant debris after harvest. Rotate crops with non-susceptible crops.
                           </p>
                    </p>
            <h4></h4>
        </div>

        <div id="hover9" class="html-hidden">

                <h2><img class="normal-content" src="{% static 'img/i.png' %}" width="3%">Tuber Moth</h2>
                <div class="container"  style="width: 70%; ">
                    <img src="{% static 'img/tubermoth.jpg' %}" style="width: 29%;">
                    <img src="{% static 'img/tubermoth1.jpeg' %}" style="width: 30%;">
                    <img src="{% static 'img/tubermoth2.jpeg' %}" style="width: 33%;">
                </div>
                <p>
                        <h3><b>Intro</b></h3><p class="text"> 
                                Brown spot has been historically largely ignored as one of the most common and most damaging rice diseases.</p>
                           <h3> <b>Symptoms:</b> </h3><p class="text">   This insect can feed on a variety of solanaceous crops but potato is favored. The larvae attack potato leaves, stems, petioles, and tubers (in field or in storage). They eat the internal leaf tissue without touching the epidermis, forming transparent blisters. Stems can be weakened or broken, causing the death of the plant. The larvae enter the tuber through the eye and make slender tunnels along the surface or dig deep irregular galleries into the flesh. Larval frass is visible at the entry points which are open to fungal and bacterial diseases. 
            
                               </p>
                               <h3> <b>Triger:</b></h3><p class="text">   
                                Adults moths have a grey stretched body with extended antennae, narrow brown forewings scattered with dark spots, and light-grey hindwings with long fringes. It is mostly nocturnal and attracted to light. Eggs are laid singly or in batches on the leaves or on exposed tuber buds in dry soil. They fail to hatch when kept at temperatures below 4 °C for long periods. Larvae have dark brown heads and light-brown to pink bodies. They bore into petioles, young shoots or leaf veins and later into the tubers, making irregular galleries. 25°C is the optimum temperature for their life cycle but tolerance ranges between 15 and 40°C. Cracks in dry soils favor the survival of the larvae.</p>
                               <h3> <b>Biological method:</b></h3><p class="text"> 
                                Extracts of orange peel, and of the species Pithuranthos tortosus or Iphiona scabra, among many other plants,  reduced the fecundity of the moth. Parasitoids wasps of the species Bracon gelechiae, Copidosoma koehleri or Trichogramma significantly reduced pest numbers. Predators include ants and lady birds. Applications of either granulovirus or Bacillus thuringiensis can result in 80% mortality within a fortnight. In some countries, damage during storage can be reduced by covering the sacks with the foliage of Eucalyptus or Lantana.</p>
                           <h3><b>Chemical method:</b></h3><p class="text">
                               
                            Always consider an integrated approach with preventive measures together with biological treatments if available. Insecticides of the group of organophosphates can be sprayed on leaves. Pyrethroids can be applied to seeds as repellent to prevent the attack of the larvae. 
                               </p>
                           <h3><b>Prevention:</b></h3><p class="text">
                            Use seed tubers from healthy plants. Check for resistant or tolerant varieties. Plant seed potatoes deep into the soil, in 5 cm depth or more. Monitor their presence and mass-catch the moths with light or pheromone traps. Control weeds and volunteer plants in and around the field. Water the field regularly to avoid soil cracking. Harvest as soon as possible when maturity is reached. Bury rejected tuber piles or destroy them. Clear the fields thoroughly of plant debris and mulch. Keep the storage sacks and facilities clear of insects. Store potatoes at temperatures between 7 and 10°C. 
            
                              </p>
                              
                </p>
                <h4></h4>
            </div>
<!--

        <div id="hover8" class="html-hidden">

            <h2><img class="normal-content" src="crop/i.png" width="3%">Rice Case Worm</h2>
            <div class="container"  style="width: 70%; ">
                <img src="crop/rice/falsesmut2.jpeg" style="width: 28%;">
                <img src="crop/rice/false_smut1.jpg" style="width: 30%;">
                <img src="crop/rice/falsesmut.jpg" style="width: 33%;">
            </div>
            <p>
                    <h3><b>Intro</b></h3><p class="text"> 
                            Brown spot has been historically largely ignored as one of the most common and most damaging rice diseases.</p>
                       <h3> <b>Symptoms:</b> </h3><p class="text"> 
                            The young P. stagnalis larva causes linear grazing of leaves. Rice case worms cut off rice leaves tips at right angles to make leaf cases. Caseworm damage is characterized by leaves cut at right angles as with a pair of scissors and leaf cases floating on water. Larvae feed by scraping the leaf tissue, leaving the papery upper layer of the leaf. Leaves that were fed upon are also left with a ladder-like structures of hard fibers. Damage symptoms can be confused with other defoliating insect pests. To confirm caseworm, visually inspect: first, the ladder-like leaf tissues; second, cut leaves; and third, the presence of leaf cases attached onto leaf sheaths and floating in the water.
                            </p>
                           <h3> <b>Triger:</b></h3><p class="text">
                                The insect is most likely to be found in rice fields with standing water, in both wetland and irrigated environments. It survives on weeds and weedy rice in the field and nearby areas and infect new rice crops when the conditions are favorable. Transplanting young seedlings also favors the development of the insect. Poor preparatory cultivation and soils having deficiency in Zinc will predispose the crop to this disease. However, despite all of this, the insect is commonly found in rice fields in low populations.
            
                                </p>
                           <h3> <b>Biological method:</b></h3><p class="text"> 
                               
                                   Encourage biological control agents such as snails (feed on eggs), hydrophilid and dytiscid water beetles (feed on larvae), spiders, dragonflies, and birds (feed on adults). Apply ash or spray neem leaf extracts to the place where insects are found.
                                     </p>
                            <h3><b>Chemical method:</b></h3><p class="text"> 
                                   
              Always consider an integrated approach with preventive measures together with biological treatments if available. Use foliar treatments of authorized carbamate insecticides and avoid pyrethroids, to which the pest has become tolerant.

                                    </p>
                       <h3><b>Prevention:</b></h3><p class="text">
                            Early planting reduces the incidence. Use wider spacing (30 × 20 cm) when planting. Transplant older seedlings and destroy possible remaining eggs. Drain the field and use filters to catch worms when re-irrigating after 2-3 days. Use recommended fertilizer applications, avoiding excess application. Remove weeds and weedy rice in the field and nearby areas to remove alternate hosts. Make sure that adequate potassium is used.
            
                           </p>

                </p>
            
        </div>

-->

        <div id="hover7" class="html-hidden">

            <h2><img class="normal-content" src="{% static 'img/i.png' %}" width="3%">Mealybug </h2>
            <div class="container"  style="width: 70%; ">
                <img src="{% static 'img/mealybug.jpeg' %}" style="width: 32%;">
                <img src="{% static 'img/Mealybug1.jpg' %}" style="width: 30%;">
                <img src="{% static 'img/Mealybug2.webp' %}" style="width: 30%;">
            </div>
            <p>
                    <h3><b>Intro</b></h3><p class="text"> 
                            Brown spot has been historically largely ignored as one of the most common and most damaging rice diseases.</p>
                       <h3> <b>Symptoms:</b> </h3><p class="text"> 
                            White cotton-like masses made of flocks of bugs appear on the underside of leaves, stems, flowers and fruits. They are very active and even though low numbers have very little impact, infestations can lead to yellowing and curling of young leaves, stunted growth of plants and early fall of fruits. Older leaves are less likely to become deformed or distorted. The bugs excrete honeydew during sap sucking and this makes the tissues sticky and prone to be colonized by opportunistic bacteria and fungi. Fruits are particularly susceptible to be attacked and may become deformed or completely coated by wax secretions. Ants may be attracted by the honeydew and may spread the pest to other plants. </p>
                           <h3> <b>Triger:</b></h3><p class="text">
                                Mealybugs are oval, wingless insects found in warm or temperate climates. Their body are protected by a layer of thin mealy wax that give them a cottony appearance. They insert their long piercing and sucking mouthparts (stylets) into plant tissues and suck sap out of them. The symptoms are a reaction to the toxic substances that they inject into plants while feeding. The eggs of the mealybug are also laid in the soil. After hatching, nymphs and adults can crawl to neighboring plants. They can also be dispersed over more or less longer distances by wind, ants, animals, birds or simply during field work activities such as pruning or harvesting. They have an array of alternative hosts such as eggplant and sweet potato, as well as many weeds. Warm temperatures and dry weather favor their life cycle and the severity of the symptoms.</p>
                           <h3> <b>Biological method:</b></h3><p class="text"> 
                                At the first sign of slight infestation, smear the colonies of mealybugs with a cotton bud imbued with oil or spirit. You can also wash the plants with warm water and a small amount of detergent, petroleum oil or insecticidal soap. Nearby plants should be sprayed with neem oil or pyrethrins in order to prevent spread of the population. Natural antagonists include the green lacewing, parasitoid wasps, hover flies, ladybird beetles, mealybug destroyer and the predator butterfly Spalgius epius.
                              </p>
                            <h3><b>Chemical method:</b></h3><p class="text"> 
                                    Always consider an integrated approach with preventive measures together with biological treatments if available. Treatments against mealybug are difficult because they are protected from adverse environmental conditions by their waxy layers and fibers. However, foliar spray with solutions based on bifenthrin, chlorpyriphos, deltamethrin and pyrethroids can be effective against mealybugs.
                           </p>
                       <h3><b>Prevention:</b></h3><p class="text">
                            Use seeds or transplants from healthy plants or from certified sources. Monitor the field regularly for signs of the pest. Remove and destroy infested plants or plant parts. Eradicate weeds in and around the field. Do not grow other susceptible crops in the area. Take great care not to spread the mealybugs during field work. Encourage the population of predators with good field practices, for example with the use of insecticide specific for mealybugs. Avoid flood irrigation of the crop during the season. Follow a balanced and well-timed fertilization program. Control ants with sticky bands on the trunk or branches. Disinfection of equipment and tools is highly recommended. Crop rotation with non-susceptible plants is recommended. 
            
                           </p>
                </p>
            <h4></h4>
        </div>

    

        <div id="hover2" class="html-hidden">

            <h2><img class="normal-content" src="{% static 'img/i.png' %}" width="3%">Potato Beetle</h2>

            <div class="container"  style="width: 70%; ">
                <img src="{% static 'img/potatobeetle.jpeg' %}" style="width: 30%;">
                <img src="{% static 'img/potatobeetle1.jpg' %}" style="width: 30%;">
                <img src="{% static 'img/potatobeetle2.jpg' %}" style="width: 28%;">
            </div>
            <p>
                <h3><b>Intro</b></h3><p class="text"> 
                     Brown spot has been historically largely ignored as one of the most common and most damaging rice diseases.</p>
                <h3> <b>Symptoms:</b> </h3><p class="text"> 
                    Adults and larvae of the colorado potato beetle feed on the edge of leaves and can eventually defoliate the stems. Black excrements can sometimes be observed. Potato tubers exposed to the elements are also eaten occasionally. The adults are yellowish-orange and oval in shape. Their most characteristic feature is the presence of ten black stripes on their white-brown back. The head has a triangular black spot and the thorax has irregular dark markings. The larvae in turn are characterized by their beetle-like aspect, their reddish “skin” and the two rows of black spots that flank their sides.</p>
                    <h3> <b>Triger:</b></h3><p class="text">
                            The adult potato beetles overwinter deep in the soil, protected from the sun. They emerge during the spring from the pupae and start to feed on young plants. Females lay orange, elongated oval eggs in groups of 20 to 60 on the underside of the leave. At hatching, the larvae feed almost continuously on leaves. At the end of their development, they drop from the leaves and burrow into the soil where they construct a spherical cell and transform into yellowish pupae. </p>
                    <h3> <b>Biological method:</b></h3><p class="text"> 
                            Apply treatments based on the bacterial insecticide Spinosad. The bacterium Bacillus thuringiensis is also effective against some larval stages. The stink bug Perillus bioculatus and the nematode Pristionchus uniformis also feed on the beetle. The parasitoid wasp Edovum puttleri and the parasitoid fly Myiopharus doryphorae can also help to control of the colorado potato beetle. A number of alternative biological treatments are possible.</p>
                <h3><b>Chemical method:</b></h3><p class="text"> 
                        Always consider an integrated approach with preventive measures together with biological treatments if available. Insecticides are commonly used against the potato beetle but resistance can develop rapidly due to the life cycle of the insect. Check which solutions have been used to control populations.</p>
                <h3><b>Prevention:</b></h3><p class="text">
                        Use resilient varieties if available.,Plant early to avoid peak populations of the larvae.,Use yellow sticky traps to monitor or mass-catch the beetle.,Use trenches with 45% slope or plastic/organic mulches.,Monitor and pick the beetles by hand or shake them off the plants.,Employ companion planting to repel or deter the potato beetle from foraging on potatoes.,Stimulate populations of beneficial insects like ladybugs, lacewing and spined soldier.,Rotate with non-host plants.,After harvest plow and remove plant residues from the field.</p>
                </p>
                   
                </p>
            <h4></h4>
        </div>




        <div id="hover6" class="html-hidden">

                <h2><img class="normal-content" src="{% static 'img/i.png' %}" width="3%"> Aphids</h2>
                <div class="container"  style="width: 70%; ">
                    <img src="{% static 'img/riceaphids.jpeg' %}" style="width: 20%;">
                    <img src="{% static 'img/riceaphids1.jpeg' %}" style="width: 35%;">
                    <img src="{% static 'img/riceaphids2.jpg' %}" style="width: 35%;">
                </div>
                <p><h3><b>Description:</b></h3><p class="text">
                        Rice sheath blight is one of the most </p>
                   <h3 ><b>Symptoms:</b></h3>
                   <p class="text">
                        Low to moderate numbers are usually not harmful to crops. Severe infestation can cause leaves and shoots to curl, wilt or yellow and stunted plant growth. Overall, a general decline in plant vigor will also be noticed. The honeydew secreted by the aphids as they feed on plant tissues causes an additional infection with opportunistic fungi in many cases. The development of mold on the leaves indicates this. The honeydew attracts ants. Even small numbers of aphids can transmit viruses from plant to plant in a persistent way. Optimal conditions for their growth are dry and warm climates. 
                    </p>
                       <h3> <b>Triger:</b></h3><p class="text">  
                           
                      Aphids are small, soft bodied insects with long legs and antennae. Their size ranges from 0.5 to 2 mm and the color of their body can be yellow, brown, red or black, depending on the species. Their aspect ranges from the wingless varieties, that are generally predominant, to the winged, waxy or woolly types. They usually settle and feed in clusters on the underside of well-fed young leaves and shoot tips. They use their long mouthparts to pierce tender plant tissues and suck out fluids. Low to moderate numbers are not damaging to the crops. After an initial invasion in late spring or early summer, the aphid population usually diminishes naturally due to natural enemies. Several species carry plant viruses that can lead to the development of other diseases. 
                          </p>
                       <h3><b> Chemical method:</b></h3>
                   <p class="text">
                        
              Always consider a integrated approach with preventive measures together with biological treatments if available. 
              Stem application with flonicamid and water @ 1:20 ratio at 30,45,60 Days after sowing (DAS) can be planned. Fipronil 2ml or thiamethoxam @ 0.2g or flonicamid @ 0.3g or acetamiprid @0.2g (per liter of water) can also be used.
                      </p>
                   <h3><b>Biological method:</b></h3>
                   <p class="text">Beneficial insects such as predatory ladybugs, lacewings, soldier beetles and parasitoid wasps are important agents to control populations of aphids. These natural enemies will take care of the sucking insects in field conditions. In case of mild infestation, use a simple soft insecticidal soap solution or solutions based on plant oils. Aphids are also very susceptible to fungal diseases when it is humid. A simple spray of water on affected plants can also remove them. 
                    </p>
                         <h3><b>Prevention:</b></h3>
                                     <p class="text">

                                            Maintain a high number of different varieties of plants around fields. Use reflective mulches to repel invading populations of aphids. Monitor fields regularly to assess the incidence of a disease or pest and determine their severity. Hand-pick the aphids manually from the plant or remove infected plant parts. Check weeds in and around the fields. Do not over-water or over-fertilize. Control ant populations that protect aphids with sticky bands. Prune the branches of your trees or remove the bottom leaves or your plants to favor the ventilation of the canopy. If possible, use nets to protect the plants. Control insecticide use in order not to affect beneficial insects. Remove plant debris from previous cultures. 
            
                              </p>
                   
                 </p>
                <h4></h4>
            </div>







            <div id="link-change">
                    <div class="container"  style="width: 65%;">
                     <div class="row" >
                          <div class="col-lg-4">
                            <div class="thumbnail">
                                 <div class="card" style="height: 430px;">
                                    <img src="{% static 'img/potatobeetle.jpeg' %}" alt="John" style="width:100%;height: 230px;">
                                    <h1>Potato Beetle</h1>
                                    <p class="title">CEO & , Example</p>
                                    <p><b>Cnaphalocrocis Medinalis</b></p>
                                    <div style="margin: 24px 0;">
                                        <button class="hover-link" id="hover2-hidden">Click</button>
                
                                    </div>
                
                                </div>
                 
                       </div>
                   </div>
               
                    <div class="col-lg-4">
                            <div class="thumbnail">
                                    <div class="card" style="height:430px;">
                                            <img src="{% static 'img/leaf-miner.jpg' %}" alt="John" style="width:100%;height:230px;">
                                            <h1>Miner Flies</h1>
                                            <p class="title"> & Founder, Example</p>
                                            <p><b>Dicladispa Armigera</b></p>
                                            <div style="margin: 24px 0;">
                                                <button class="hover-link" id="hover3-hidden">Click</button>
                                            </div>
                        
                                     </div>
                  
                                </div>
                    </div>
                
                        <div class="col-lg-4">
                                <div class="thumbnail">
                                        <div class="card" style="height:430px;">
                                                <img src="{% static 'img/riceaphids.jpeg' %}" alt="John" style="width:100%" height="230px">
                                                <h1>Aphids</h1>
                                                <p class="title">CEO & Founder,</p>
                                                <p><b>Orseolia oryzae</b></p>
                                                <div style="margin: 24px 0;">
                                                        <button class="hover-link" id="hover6-hidden">Click</button>                    
                                                </div>
                                            </div>   
                    
                                 </div>
                        </div>
                    </div>
                 </div>
                 
           
        
        
        
        
        
        
        
        
           <div class="container" style="margin-top:2%; width: 65%;">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="thumbnail">
                             <div class="card" style="height:430px;">
                                     <img src="{% static 'img/tubermoth.jpg' %}" alt="John" style="width:100%; height:230px;">
                                     <h1>Tuber Moth</h1>
                                     <p class="title">CEO & , Example</p>
                                     <p><b>Causal Organism : Helminthosporium</b></p>
                                     <div style="margin: 24px 0;">
                                         <button class="hover-link" id="hover9-hidden">Click</button>
                 
                                     </div>
                 
                                 </div>
                 
                        </div>
                    </div>
              
                     <div class="col-lg-4">
                             <div class="thumbnail">
                                     <div class="card" style="height:430px;">
                                             <img src="{% static 'img/mealybug.jpeg' %}" alt="John" style="width:100%;height: 230px;">
                                             <h1>
                                                    Mealybug </h1>
                                             <p class="title"> & Founder, Example</p>
                                             <p><b>Causal Organism : Ustilaginoidea Virens</b></p>
                                             <div style="margin: 24px 0;">
                                                 <button class="hover-link" id="hover7-hidden">Click</button>
                                             </div>
                         
                                      </div>
                   
                                 </div>
                     </div>
                   <!--
                         <div class="col-lg-4">
                                 <div class="thumbnail">
                                         <div class="card" style="height:430px;">
                                                 <img src="crop/download (15).jpeg" alt="John" style="width:100%" height="230px">
                                                 <h1>Rice Case Worm</h1>
                                                 <p class="title">CEO & Founder,</p>
                                                 <p><b>Causal Organism : Ustilaginoidea Virens</b></p>
                                                 <div style="margin: 24px 0;">
                                                         <button class="hover-link" id="hover8-hidden">Click</button>                    
                                                 </div>
                                             </div>   
                     
                                  </div>
                         </div>
                     </div>
                  </div>
                  
            </div>
        
        
        
        -->
        </div>
        </div>
            </div>
       
        
        
        






        <div>
            <marquee class="opo"><b>Public Relation Officer:</b> Sh.Anil K Sharma , <b>Phone:</b> 91-11-25843301 ,
                <b>Email:</b> anil.cpro@gmail.com <br /></marquee>
            <br>
            <br>

        </div>
    </div>
    <script src="{% static 'js/project.js' %}"></script>
</body>

</html>